doctype html
html(lang="en")
  include ../common/head.pug
  +head()
  body
    header
      include ../common/navbar.pug
      +navbar(user)
    div.container
      h1.display-4 Contacts
      hr
      div.row
        div.col
          form(action="/contacts" method="POST")
            div.input-group
              div.input-group-prepend
                span.input-group-text
                  i.fas.fa-address-book
              input(type="email" name="email" placeholder="Enter Contact Email").form-control
              div.input-group-append
                button(type="submit").btn.btn-primary Add New Contact
          table.mt-3.table.table-striped.table-bordered
            thead.thead-dark
              tr
                th.col-10 Contact Email
                th.col-2 
            tbody
              if !contacts.length
                tr
                  td(colspan="2") No Contacts Yet
              else
                for contact in contacts
                  tr
                    td #{contact.email}
                    td
                      button(type="button", data-toggle="modal", data-target="#edit-modal", data-id=contact.id, data-email=contact.email).btn.btn-sm.btn-info Edit
                      form(action="/contacts/" + contact.id + "?_method=DELETE", method="POST").d-inline.ml-2
                        button(type="submit").btn.btn-sm.btn-danger Delete
    include ./edit-modal.pug
    +edit-modal()
    include ../common/footer.pug
    +footer()
    script(src="/javascripts/edit-modal.js")
