doctype html
html(lang="en")
  include ../common/head.pug
  +head()
  body
    header
      include ../common/navbar.pug
      +navbar()
    div.container
      h1.display-4 Contacts
      hr
      div.row
        div.col
          form(action="/contacts" method="POST")
            div.input-group
              div.input-group-prepend
                span.input-group-text
                  i.fas.fa-address-book
              input(type="email" name="email" placeholder="Enter Contact Email").form-control
              div.input-group-append
                button(type="submit").btn.btn-primary Add New Contact
          table.mt-3.table.table-striped.table-bordered
            thead.thead-dark
              tr
                th Contact Email
                th 
            tbody
              if !contacts.length
                tr
                  td(colspan="2") No Contacts Yet
              else
                for contact in contacts
                  tr
                    td #{contact.email}
                    td
                      form(action="/contacts/" + contact.id + "?_method=DELETE", method="POST")
                        button(type="submit").btn.btn-sm.btn-danger Delete

    include ../common/footer.pug
    +footer()