mixin edit-modal
  div(id="edit-modal" tabindex="-1" role="dialog").modal.fade
    div(role="document").modal-dialog.modal-dialog-centered
      div.modal-content
        div.modal-header.bg-dark.text-white
          h5.modal-title Edit Contact
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true") &times;
        div.modal-body
          form(action="/contacts" method="POST")
            div.input-group
              div.input-group-prepend
                span.input-group-text
                  i.fas.fa-address-book
              input(type="email" name="edit_email" placeholder="Enter The New Contact Email").form-control
        div.modal-footer
          button(type="button" data-dismiss="modal").btn.btn-secondary Close
          button(id="submit-edit" type="button").btn.btn-primary Save changes
